$gradient1: linear-gradient(90deg, #FF84C2 0%, #00ECFF 100%);
$gradient2: linear-gradient(to top, #FF84C2 0%, #00ECFF 100%);
$color-black: #000;
$color-white: #fff;
$primary-color: #FF84C2;
$secondary-color: #00ECFF;
$second-color: #FF3199;
$primary-font: 'Poppins', sans-serif;